.longe-bordas{
    background-color: #FFA6A9;
    margin-left: 15px;
  }
  
  .afastado{
    background-color: #77C0ED;
    margin: 50px;
    display: block;
  }
  .alto{
    background-color: #C3E887;
    height: 300px;
  }
  
  .largo{
  background-color: #FFE396;
  width: 500px;
  }
  
  .bordado{
    background-color: #AF9BCC;
    border: solid black 1px;
  }
  
  .sumido{
    display: none;
  }