*{
    margin: 0;
    padding: 0;
}

header{
    height: 40px;
    padding: 10px;
    color: white;
    background-color: orangered;
    border-bottom: solid black 1px;
}

footer{
    height: 40px;
    padding: 10px;
    color: white;
    background-color: black;
} 

main{
    margin: 15px;
    padding: 20px, 30px, 20px, 30px;
    width: 90vw;
    height: 80vh;
}

article{
    margin-top: 25px;
    margin-bottom: 25px;
}

head{
    font-family: arial;
}

p{
    font-family: helvetica;
}

.destaque{
    color: orange;
}