*{
  padding: 0;
  margin: 0;
}
header{
  
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 70%;
  padding: 40px;
  background-color: blueviolet;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 20px;
  width: 20%;
  background-color: brown;
}

article{
  margin: 10px 0;
}

main{
  font-family: helvetica;
}

body{
  background-color: aquamarine;
}